@font-face {
	font-family: kruengprung;
	src: url(../font/kruengprung.ttf);
}

@font-face {
	font-family: wdbangna;
	src: url(../font/wdbangna.ttf);
}

body {
	background: #b1cce4;
	margin: 0px 0px 0px 0px;
	border: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	color: #ffffff;
	font-family: kruengprung;
}

h2 {
	background: #eb6750;
	width: 400px;
	height: 30px;
	font-size: 180%;
	margin: 20px 20px 5px 20px;
	padding: 10px;
	font-weight: 800;
	vertical-align: middle;
}

a {
    color:#ffffff;
    text-decoration:underline;
}

a:hover {
	color:#ffffff;
	text-decoration:underline;
}

.main_containner {
	width: 980px;
	background: #4b8cc4;
	margin: 0px auto;
	float:none;
}

.header {
	width: 880px;
	height: 200px;
	margin: 0px auto;
	background: url(../img/header_img.png) 0px 13px no-repeat;
	/*padding: 80px 350px 0px 0px;*/
	font-size: 550%;
	font-weight: 900;
}

.header_text {
	position: relative;
	left: 350px;
	top: 100px;
}

.select_bar {
	width: 920px;
	margin: 0px auto;
	padding: 0px;
	background: #4b8cc4;
}

.content_block {
	width: 880px;
	margin: 0px auto;
	padding: 20px;
	background: #53afbe;
}

.reference_block {
	font-family: wdbangna;
	font-size: 70%;
	width: 880px;
	margin: 5px auto;
	padding: 2px;
}

.text_block {
	font-family: wdbangna;
	margin: 0px;
}

.inlined_box {
	display: inline-block;
	font-size: 180%;
	font-weight: 500;
	margin-top: 5px;
	margin-bottom: 25px;
}

.overall_trend {
	width: 280px; 
	height: 180px;
}

.sex_trend {
	width: 428px; 
	height: 180px;
}

.degree_trend {
	width: 428px; 
	height: 300px;
}

.var_block {
	background: #4b8cc4;
	display: inline-block;
	width: 223px;
	height: 40px;
	margin: 0px;
	padding: 0px;
	border-bottom: 0px;
	border-left: 1px;
	border-top: 1px;
	border-right: 1px;
	border-style:solid;
	border-color: #ffffff;
	font-size: 180%;
	text-align: center;
}

.selected_var_block {
	background: #53afbe;
	display: inline-block;
	width: 223px;
	height: 40px;
	margin: 0px;
	padding: 0px;
	border-bottom: 0px;
	border-left: 1px;
	border-top: 1px;
	border-right: 1px;
	border-style:solid;
	border-color: #ffffff;
	font-size: 180%;
	font-weight: 800;
	text-align: center;
}

.year_block {
	background: #4b8cc4;
	display: inline-block;
	width: 109px;
	height: 40px;
	margin: 0px;
	padding: 0px;
	border-bottom: 0px;
	border-left: 1px;
	border-top: 1px;
	border-right: 1px;
	border-style:solid;
	border-color: #ffffff;
	font-size: 180%;
	text-align: center;
}

.selected_year_block {
	background: #53afbe;
	display: inline-block;
	width: 109px;
	height: 40px;
	margin: 0px;
	padding: 0px;
	border-bottom: 0px;
	border-left: 1px;
	border-top: 1px;
	border-right: 1px;
	border-style:solid;
	border-color: #ffffff;
	font-size: 180%;
	font-weight: 800;
	text-align: center;
}

#world_stat {
	height: 290px;
}

#relation_chart {
	width: 360px;
	height: 280px;
}

#relation_linechart {
	width: 494px;
	height: 280px;
}

#unemploy_map {
	width: 500px;
	height: 400px;
}

#unemploy_degree {
	width: 352px;
	height: 400px;
}

