@font-face {
	font-family: kruengprung;
	src: url(../font/kruengprung.ttf);
}

@font-face {
	font-family: EucrosiaUPC;
	src: url(../font/EucrosiaUPC.ttf);
}

body {
	background: #b1cce4;
	margin: 0px 0px 0px 0px;
	border: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	color: #ffffff;
	font-family: EucrosiaUPC;
}

h2 {
	background: #eb6750;
	width: 470px;
	height: 42px;
	font-size: 200%;
	margin: 20px 20px 5px 20px;
	padding-left: 12px;
	padding-top: 5px;
	font-weight: 700;
	vertical-align: middle;
}

a {
    color:#ffffff;
    text-decoration:underline;
}

a:hover {
	color:#ffffff;
	text-decoration:underline;
}

.main_containner {
	width: 980px;
	background: #4b8cc4;
	margin: 0px auto;
	float:none;
}

.header {
	width: 880px;
	height: 200px;
	margin: 0px auto;
	background: url(../img/header_img.png) 0px 13px no-repeat;
	font-family: kruengprung;
	font-size: 550%;
	font-weight: 900;
}

.header_text {
	position: relative;
	left: 350px;
	top: 100px;
}

.select_bar {
	width: 920px;
	margin: 0px auto;
	padding: 0px;
	background: #4b8cc4;
}

.content_block {
	width: 880px;
	margin: 0px auto;
	padding: 20px;
	background: #53afbe;
}

.reference_block {
	font-family: EucrosiaUPC;
	font-size: 120%;
	width: 880px;
	margin: 5px auto;
	padding: 2px;
}

.text_block {
	font-family: EucrosiaUPC;
	font-size: 140%;
	margin: 0px;
}

.inlined_box {
	display: inline-block;
	font-size: 170%;
	font-weight: 500;
	margin-top: 5px;
	margin-bottom: 25px;
}

.overall_trend {
	width: 279px; 
	height: 180px;
}

.sex_trend {
	width: 427px; 
	height: 200px;
}

.degree_trend {
	width: 650px; 
	height: 300px;
}

.var_block {
	background: #4b8cc4;
	display: inline-block;
	height: 40px;
	margin: 0px;
	padding: 0px;
	border-bottom: 0px;
	border-left: 1px;
	border-top: 1px;
	border-right: 1px;
	border-style:solid;
	border-color: #ffffff;
	font-size: 160%;
	text-align: center;
}

.selected_var_block {
	background: #53afbe;
	display: inline-block;
	height: 40px;
	margin: 0px;
	padding: 0px;
	border-bottom: 0px;
	border-left: 1px;
	border-top: 1px;
	border-right: 1px;
	border-style:solid;
	border-color: #ffffff;
	font-size: 160%;
	font-weight: 700;
	text-align: center;
}

.year_block {
	background: #4b8cc4;
	display: inline-block;
	width: 108px;
	height: 40px;
	margin: 0px;
	padding: 0px;
	border-bottom: 0px;
	border-left: 1px;
	border-top: 1px;
	border-right: 1px;
	border-style:solid;
	border-color: #ffffff;
	font-size: 160%;
	text-align: center;
}

.selected_year_block {
	background: #53afbe;
	display: inline-block;
	width: 108px;
	height: 40px;
	margin: 0px;
	padding: 0px;
	border-bottom: 0px;
	border-left: 1px;
	border-top: 1px;
	border-right: 1px;
	border-style:solid;
	border-color: #ffffff;
	font-size: 160%;
	font-weight: 800;
	text-align: center;
}

.timeplot-container .timeplot-grid-label {
	/*font-family: EucrosiaUPC;*/
	color: #ffffff;
	font-size: 90%;
}

.comment_block {
	font-family: EucrosiaUPC;
	font-size: 120%;
}

#unemploy_timeplot {
	font-family: EucrosiaUPC;
	font-size: 150%;
	color: #000000;
}

.simileAjax-bubble-container {
	font-family: EucrosiaUPC;
	font-size: 150%;
	color: #000000;
}

#world_stat {
	height: 290px;
}

#relation_chart {
	background: #ffffff;
	width: 360px;
	height: 280px;
}

#relation_linechart {
	background: #ffffff;
	width: 494px;
	height: 280px;
}

#unemploy_map {
	background: #ffffff;
	width: 500px;
	height: 400px;
}

#unemploy_degree {
	background: #ffffff;
	width: 352px;
	height: 400px;
}

